/*主体部分*/
main{
	padding: 0 7%;
}
/*工作岗位*/
.job1{
	font-size: 1.5rem;
    padding: 1.4rem 0;
    border-bottom: 1px solid #999;
}

.job2{
    color: #29b078;
}

.job-list1{
	margin: 0;
	padding-left: 0;
	list-style: none;
	border-bottom: .5px solid #999;
}
.job-list1 li{
	padding: 0.5rem 1rem;
	font-size: 1.6rem;
	display: inline-block;
}
.job-list1 li a{
	color: #000;
	text-decoration: none;
}
.job-home p{
	color: #999;
}
.job-home~li:hover{
	background: #29b078;
}
/*工作岗位具体内容介绍*/
.web{
	font-size: 1.6rem;
    padding: 2rem 1rem;
    border-bottom: 1px solid #999;
}
.web-css{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 2rem;
}
/*鼠标滑过出现岗位介绍*/
.ios{
	position: absolute;
	z-index: 1;
	opacity: 0;
	width: 90%;
	height: 90%;
	font-size: 1.6rem;
	line-height: 2rem;
	color: #fff;
	background: rgba(0,0,0,.8);
	padding: 5% 5%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.ios h3{
	text-align: center;
}

.content:hover .ios{
    opacity: 1;
    transition:2s ease;
	-moz-transition:2s ease; /* Firefox 4 */
	-webkit-transition:2s ease; /* Safari and Chrome */
	-o-transition:2s ease; /* Opera */
}
/*单个岗位介绍*/
.content{
	position: relative;
    width: 32%;
    padding: 0;
    border: #edecec solid;
    margin-top: 4%;
}
.content::after{
	content: "";
	width: 32%;
}
.one{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    border-bottom: #edecec solid 0.2rem;
}
.one p{
    word-break: break-all;
    padding-left: 0.5rem;
}
.one span{
    display: block;
    font-size: 2rem;
    padding: 1rem 0;
}
.two{
    line-height: 40px;
    border-bottom: #edecec solid 0.2rem;
    padding: 0;
}
.two-1{
	border-right: #edecec solid 0.2rem;
}
.two-1,.two-2{
	width: 40%;
	display: inline-block;
	padding-left: 2rem;
}
.two-span{
	color: red;
}
.three{
	display: flex;
}
.three-1{
	height: 55px;
	line-height: 55px;
	border-right: #edecec solid 0.2rem;
}

.three-2 p{
	margin: 0;
	display: flex;
	justify-content: space-between;
	padding: 0 2rem;
}
.three-3{
	border-bottom: .2rem solid #edecec;
}
.three-1{
	width: 30%;
	padding-left: 2rem;
}
.three-2{
	width: 100%;
}

.four{
    border: #edecec solid 0.2rem;
    border-left: none;
    border-right: none;
}
.four p{
    margin: 0;
    vertical-align: middle;
    font-weight: 600;
}
.four span{
	color: #ff0000;
}
.five{
    border-bottom: : #edecec solid 0.2rem;
    border:none;
}
.five p{
	margin: 0;
}

.four,.five{
	padding: .5rem 2rem;
}